:local {
  .containerParent {
    background: #fffaff;
    border-radius: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
  }
  .container {
    background: #3e92cc;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    width: 33.333%;
    height: 100%;
    margin: 10px;
  }
  @keyframes contentAnimated {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(1.1);
    }
  }
  .container:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    animation: contentAnimated 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  .info {
    background-color: #fffaff;
    width: 80%;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    height: 38px;
    margin: 5px 0;
    color: #3e92cc;
  }

  .title {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fffaff;
    margin-left: 10px;
  }
  .infoCard {
    display: flex;
    width: 100%;
    position: relative;
    svg {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 220px;
      top: 13px;
      path {
        fill: #3e92cc;
      }
    }
  }
}
